table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    text-align: left;
    padding: 8px;
}
.supprimer {
    border: none;
    height: 100%;
    background-color: #f75625;
    padding: 0.5rem;
    cursor: pointer;
}
  
.tr:nth-child(even){background-color: #f2f2f2}